.islemler{
    background-color: yellow; height: 20px;width: 50px;
}

.textler{
    background-color: lightcoral;
}



.ogrenciBilgi
{
background-position:center center;
background-color: lightgreen;
}